@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer components {
  .btn-primary {
    @apply bg-[#1fa45b] cursor-pointer rounded-md px-4 text-white;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    background-color: #ebeef2;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b8b8b8;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
  }
  ::-webkit-scrollbar-button {
    width: 14px;
    height: 14px;
    background-position: center;
    background-color: #f1f1f1;
  }
}
